{% extends '::base.html.twig' %}
{% block body %}
    <div class="span8">
        <h4>About Me</h4>
        <div class="img-fulltext-none">

            <img src="{{ asset('bundles/srinifront/images/story-5.jpg') }}" alt="Srinivasan K" />
        </div>
        <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. 
            Integer posuere erat a venenatis dapibus posuere belit aliquet duis mollis. Enean lacinia bibendum nulla sed consectetur. 
            Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Donec sed odio dui.</p>
        <p>Ut in risus risus, nec tincidunt mi. Aliquam neque magna, facilisis eget consequat non, adipiscing sit amet tortor. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce mi urna, dignissim ac 
            ultricies id, eleifend ut velit.</p>
        <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. 
            Integer posuere erat a venenatis dapibus posuere belit aliquet duis mollis. Enean lacinia bibendum nulla sed consectetur. 
            Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Donec sed odio dui.</p>

        <p>Enean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta 
            gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>

        <p class="style-italic">
            "Enean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta 
            gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui."</p>
        <p>Ut in risus risus, nec tincidunt mi. Aliquam neque magna, facilisis eget consequat non, adipiscing sit amet tortor. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce mi urna, dignissim ac 
            ultricies id, eleifend ut velit.</p>
        <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. 
            Integer posuere erat a venenatis dapibus posuere belit aliquet duis mollis. Enean lacinia bibendum nulla sed consectetur. 
            Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Donec sed odio dui.</p>

        <p>Ut in risus risus, nec tincidunt mi. Aliquam neque magna, facilisis eget consequat non, adipiscing sit amet tortor. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce mi urna, dignissim ac 
            ultricies id, eleifend ut velit.</p>
        <p>Ut in risus risus, nec tincidunt mi. Aliquam neque magna, facilisis eget consequat non, adipiscing sit amet tortor. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce mi urna, dignissim ac 
            ultricies id, eleifend ut velit.</p>
    </div>

    <div class="span3">
        <h4>Contact</h4>
        <hr />
        <p>
            Email : <a href="mailto:srinikumar11@gmail.com">srinikumarONEONE(at)gmail.com</a><br />
            Phone : 1234567890 <br />
            Website: srinivasank.com<br />
            <a href="{{ path("_contact")}}">Contact Form</a>
        </p>
        <br /><br />
        <h4>Latest Blog</h4>
        <hr />
        <h5>Blog title 1</h5>
        <p>
            Ut in risus risus, nec tincidunt mi. Aliquam neque magna, facilisis eget consequat non, adipiscing sit amet tortor. 
            ultricies id, eleifend ut velit.
            <a href="#">Read more... >></a>
        </p>
        <h5>Blog title 2</h5>
        <p>
            Ut in risus risus, nec tincidunt mi. Aliquam neque magna, facilisis eget consequat non, adipiscing sit amet tortor. 
            ultricies id, eleifend ut velit.
            ultricies id, eleifend ut velit.
            <a href="#">Read more... >></a>
        </p>
        <h5>Blog title 3</h5> 
        <p>
            Ut in risus risus, nec tincidunt mi. Aliquam neque magna, facilisis eget consequat non, adipiscing sit amet tortor. 
            ultricies id, eleifend ut velit.
            ultricies id, eleifend ut velit.
            <a href="#">Read more... >></a>
        </p>
    </div>
{% endblock %}
