{% extends '::base.html.twig' %}
{% block body %}


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit content-shadow">
          
            <h1>Hello, Guest!</h1>
            <p>Welcom to SrinivasanK.Com. This site is fully designed and developed by me using technologies Symfony 2 one of the greatest opensource framework &amp; design assistance from twitter bootstrap. 
                etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
                etc etc etc etc etc etc etc etc etc etc etc etc etc 
                etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc... </p>
            <p><a class="btn btn-primary btn-large">Read more »</a></p>
          
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>First Latest Blog</h2>
          <p> Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon ...</p>
          <p><a class="btn" href="#">Continue reading »</a></p>
        </div>
        <div class="span4">
          <h2>Second Latest Blog</h2>
          <p> Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon ...</p>
          <p><a class="btn" href="#">Continue reading »</a></p>
       </div>
        <div class="span4">
          <h2>Third Latest Blog</h2>
          <p> Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon Comming Soon ...</p>
          <p><a class="btn" href="#">Continue reading »</a></p>
        </div>
      </div>

     


{% endblock %}
