{% extends '::base.html.twig' %}
{% block body %}
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Actions
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
        <a href="{{ path('admin_category_new') }}">
            Create a new entry
        </a>
    </li>
  </ul>
</div>
<h1>Category list</h1>

<table class="table records_list">
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            
            <td>{{ entity.name }}</td>
            <td>
              
                <a class="btn" href="{{ path('admin_category_show', { 'id': entity.id }) }}">show</a>
                    
                <a class="btn" href="{{ path('admin_category_edit', { 'id': entity.id }) }}">edit</a>
                    
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}