{% extends '::base.html.twig' %}
{% block body %}
<h1>Category creation</h1>

        <a class="btn" href="{{ path('category') }}">
            Back to the list
        </a>

<form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}